In [1]:
import pandas as pd

In [3]:
# Say we have the three dataframes below

df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])
                   
df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

In [6]:
df1

      HPI  Int_rate  US_GDP_Thousands
2001   80         2                50
2002   85         3                55
2003   88         2                65
2004   85         2                55

In [7]:
df2

      HPI  Int_rate  US_GDP_Thousands
2005   80         2                50
2006   85         3                55
2007   88         2                65
2008   85         2                55

In [5]:
# We merge df1 and df2 on the 'HPI' column, that is rows from df2 where the HPI matches with the HPI values from df1
# merge() is used for combining data on common columns or indices
# By default, merge() does an inner join.
# Inner join requires each row in the two joined dataframes to have matching column values. 
# This is similar to the intersection of two sets.

print(pd.merge(df1,df2, on='HPI'))

   HPI  Int_rate_x  US_GDP_Thousands_x  Int_rate_y  US_GDP_Thousands_y
0   80           2                  50           2                  50
1   85           3                  55           3                  55
2   85           3                  55           2                  55
3   85           2                  55           3                  55
4   85           2                  55           2                  55
5   88           2                  65           2                  65

In [11]:
# So, the above table has 6 values instead of 5.
# Why? Well, let us look at HPI of 80 and 85 from df1
# Remember, we are joining based on the column values of df1, i.e. the first dataframe and looking for matches in the df2.
# So, for HPI of 80, we look at df2, and find only one row for HPI of 80, so we have only one row in our merge.
# However, for HPI of 85, we look at df2, and find there are two rows, so have two rows in our merge.
# But then, we come across HPI of 85 again in df1, and of course we find two matching rows again.
# Thus, we end up having four rows for HPI of 85 instead of three.
# Basically, merge will create a row for EVERY match for a value in our specified column from the first dataframe.

# If you don't want to have duplicates, try choosing a column with unique values.
# Or you can try merging based on more than one column:

print(pd.merge(df1, df2, on=['HPI', 'Int_rate']))

   HPI  Int_rate  US_GDP_Thousands_x  US_GDP_Thousands_y
0   80         2                  50                  50
1   85         3                  55                  55
2   88         2                  65                  65
3   85         2                  55                  55

In [12]:
# Let us move on to types of joins
# Inner Join - only include rows where the column value you joined on is in both df1 and df2

A = pd.DataFrame({'color': ['green', 'yellow', 'red'], 'num':[1, 2, 3]})

A

    color  num
0   green    1
1  yellow    2
2     red    3

In [13]:
B = pd.DataFrame({'color': ['green', 'yellow', 'pink'], 'size':['S', 'M', 'L']})

B

    color size
0   green    S
1  yellow    M
2    pink    L

In [14]:
# So if we do a default merge, i.e. inner join, the row with color value of red will not appear:

print(pd.merge(A, B, on='color'))

    color  num size
0   green    1    S
1  yellow    2    M

In [15]:
# Outer Join - include rows with column values found in either df1 or df2:

print(pd.merge(A, B, on='color', how='outer'))

    color  num size
0   green  1.0    S
1  yellow  2.0    M
2     red  3.0  NaN
3    pink  NaN    L

In [16]:
# Left Join - include rows with column values that are only in df1:

print(pd.merge(A, B, on='color', how='left'))

    color  num size
0   green    1    S
1  yellow    2    M
2     red    3  NaN

In [17]:
# Right Join - include rows with column values that are only in df2:

print(pd.merge(A, B, on='color', how='right'))

    color  num size
0   green  1.0    S
1  yellow  2.0    M
2    pink  NaN    L